:root {
  --gap: 10vw;
}

* {
  box-sizing: border-box;
}

.app {
  height: 100vh;
  width: 100vw;
}

.box-container {
  background-color: black;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.box {
  height: 100%;
  aspect-ratio: 1/1;
  width: fit-content;
  max-width: 100%;
  margin: auto;
  background-color: wheat;
  border-radius: var(--gap);
  background-size: contain;
}

.player {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10vh;
}

.eye {
  background-image: url(assets/eye.png);
}

.paw {
  background-image: url(assets/paw.png);
}

.paw2 {
  background-image: url(assets/paw2.png);
}

.die {
  position: relative;
}

.die::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10vh;
  z-index: 1;
}

.success::before {
  content: "✅";
}

.fail::before {
  content: "❌";
}

.fox::before {
  content: "🦊";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80vw;
  z-index: 2;
}

.round {
  position: fixed;
  right: 0;
  color: black;
  font-size: calc(var(--gap) * 2);
  line-height: 1;
  padding: calc(var(--gap) / 3);
}
